.cardapio_container {
  margin-bottom: 2.5rem;
  padding: 2rem 4rem 0;
  text-align: center;
}

.title {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.subtitle {
  max-width: 450px;
  margin: 0 auto 4rem;
  padding-bottom: 1.5rem;
  font-size: 1.2rem;
  color: #747474;
}

.filter_container {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.filter_container button {
  background-color: #fff;
  padding: 6px 10px;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.filter_container button:hover {
  background-color: #ececec;
}

.filter_container .target {
  background-color: #e9e9e9;
}

/* responsividade */

/* tablet */
@media (min-width: 750px) {
  .title {
    font-size: 3rem;
  }

  .subtitle {
    max-width: 550px;
    padding-bottom: 1.2rem;
    font-size: 1.3rem;
  }

  .filter_container button {
    padding: 6px 12px;
    font-size: 1rem;
  }
}

/* laptop / pc */
@media (min-width: 1000px) {
  .subtitle {
    max-width: 850px;
  }

  .filter_container {
    gap: 1rem;
  }
}
