.carrosel_container {
  background-color: #1a1a1a;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.carrosel_container .btn {
  width: 50px;
  font-size: 2.2rem;
  color: #bdbdbd;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s;
}

.carrosel_container .btn:hover {
  opacity: 1;
}
.carrosel_container .images {
  width: 1100px;
  height: 635px;
}
