.carrosel_container {
  background-color: #1a1a1a;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.carrosel_container button {
  height: 50px;
  cursor: pointer;
}

.carrosel_container .images {
  width: 1100px;
  height: 635px;
}
