.cart_container {
  padding: 1.5rem 2rem;
  text-align: center;
}

.cart_container .close_sb {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}

.cart_container .close_sb:hover {
  opacity: 0.6;
}

.cart_container .product_container {
  height: 70vh;
  overflow: auto;
}

.void_cart p {
  margin: 20% 0 45%;
  font-size: 1.3rem;
}

.void_cart .void_svg {
  width: 180px;
  height: auto;
  opacity: 0.6;
}

.cart_container .product {
  height: 150px;
  margin: 25px 12px 25px auto;
  border: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart_container img {
  width: 110px;
  height: 90px;
  margin-left: 15px;
}

.cart_container .body_product {
  flex: 1;
  padding: 0 15px;
  text-align: left;
}

.cart_container .product_name {
  font-size: 1.1rem;
  font-weight: bold;
}

.cart_container .qtd_btn {
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart_container .qtd_btn button {
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.qtd_btn .gray {
  color: #d8d8d8;
  cursor: default;
}

.cart_container .product_price {
  padding-top: 10px;
  text-align: right;
  font-weight: bold;
  color: #e84f3d;
}

.product button {
  float: right;
  font-size: 0.8rem;
  font-weight: 600;
  background: none;
  border: none;
  padding-top: 15px;
  cursor: pointer;
}

.footer_cart {
  padding: 0 10px;
}

.footer_cart .total_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}
