.navbar_container {
  background-color: #f9f9f9;
  width: 100%;
  height: 65px;
  margin-bottom: 2.5rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100px;
  width: 80%;
  padding-left: 30px;
}

.menu {
  padding-right: 2%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu a {
  color: #000;
  transition: 0.2s;
}

.menu a:hover {
  color: #d24434;
}

.menu button {
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.menu button svg {
  margin: -3px 0 0 -2px;
  font-size: 18px;
}

/* responsividade */

/* tablet */
@media (min-width: 750px) {
  .menu {
    gap: 20px;
  }

  .menu a {
    font-size: 1rem;
  }

  .menu button svg {
    margin: -3px 0 0 -2px;
  }
}

/* laptop / pc */
@media (min-width: 1000px) {
  .menu {
    gap: 25px;
  }

  .menu a {
    font-size: 1.1rem;
  }
}
