.slider_container {
  width: 100%;
  padding-top: 3rem;
  background-color: #1f1f1f;
}

.slide_item {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

/* responsividade */

/* tablet */
@media (min-width: 668px) {
  .slide_item {
    height: 400px;
    max-height: 800px;
  }
}

/* pc */
@media (min-width: 1024px) {
  .slider_container {
    padding-top: 5.8rem;
  }

  .slide_item {
    max-width: 1900px;
    height: 780px;
    max-height: 850px;
  }
}
